
; Memory parameters 
; 
;********************************************************************************
; Memory type
MemType RTM-SK ; RTM = Racetrack memory / Domain wall memory

SkMapping bit-interleaved; // bit-interleaved or word-based
SkWriteMethod naive; // naive or plus. With plus skyrmions are saved

; Interface specifications

CLK 2000

; Data Rate. 1 for SDR, 2 for DDR
RATE 2

; Bus width in bits. 
BusWidth 32

; Number of bits provided by each device in a rank
; Number of devices is calculated using BusWidth / DeviceWidth.
; We assume devices are only used in DIMMs and go away in 3D-stacked memory
DeviceWidth 32

; NVMain use CLK and CPUFreq to do the synchronization. The ratio CLK/CPUFreq
; is actually used. So a simple CLK=1 and CPUFreq=4 still works for simulation. 
; However, it is straightforward to make it informative. ; For DRAM Cache, this should be the system bus frequency from gem5
CPUFreq 2000


;********************************************************************************
; General memory system configuration

; Number of banks per rank
BANKS 1

; Number of ranks per channel
RANKS 1

; Number of channels in the system (not used for DRAM cache)
CHANNELS 1

; number of DBCS per bank
DBCS 16

; Number of domains per track
DOMAINS 2048

; WordSize in bits: number of tracks per DBC
WordSize 512 // Only for bit-interleaved

; Number of DRAM channels in the system
;DRC_CHANNELS 1

; No SALP
MATHeight 16

; Number of access ports per DBCS
nPorts 128

; Assign Ports to DWs, static: statically assign ports to DWs, dynamic: closest port accesses DWs
PortAccess dynamic ;static

; Port update policy: Eager: Restore port position to the default assigned position, lazy: stay at the current accessed location
PortUpdate lazy; eager/lazy


; The following are not used in RTM, but are assigned valid values.
UseRefresh false

; RefreshRows is the number of rows to refresh per refresh operation 
RefreshRows 1

; the refresh granularity (the number of banks refreshed together in a rank)
; this must NOT be 0 when UseRefresh is true
BanksPerRefresh 1

; the number of refresh that can be delayed
DelayedRefreshThreshold 1
;********************************************************************************

; Memory controller parameters

; Specify which memory controller to use
; options: PerfectMemory, FCFS, FRFCFS, FRFCFS-WQF, DRC (for 3D DRAM Cache), RTM
MEM_CTL RTM ;RTM is FRFCFS but reorder requests in order to minimize the total number of shifts

; whether use close-page row buffer management policy?
; options: 
;   0--Open-Page, the row will be open until a row buffer miss occurs
;   1--Relaxed Close-Page, the row will be closed if no other row buffer hit exists
;   2--Restricted Close-Page, the row will be closed immediately, no row
;      buffer hit can be exploited
ClosePage 0


; address mapping scheme
; options: R:RK:BK:CH:C (R-row, C:column, BK:bank, RK:rank, CH:channel)
;AddressMappingScheme RK:BK:CH:R:C
AddressMappingScheme C:R:RK:BK:CH

DataEncoder SkyrmionWrite
Decoder DRCDecoder

; interconnect between controller and memory chips
; options: OffChipBus (for 2D), OnChipBus (for 3D)
INTERCONNECT OffChipBus

;********************************************************************************
; Memory device timing parameters (in memory cycle)

; RTM has Shift: 2.14192ns, RD: 1.61338ns and WR: 4.84522ns. 
; If we consider the default 400 MHz from other nvmain config files, 
; we need 1, 1 and 2 cycles respectively for shift, read, and write.
; we introduce the following parameters to represent these operations. 
; NOTE: The parameters introduced are not actual memroy parameters but are 
;       introduced to mimmick the actual operation. Similar to the energy model (below), 
;       this latency model takes flat values that catter for all sub operations. 

tSH 1
tIN 1
tLIM 1
tDE 1
tRD 1
tWR 2
tACT 1 ;activate DBCS

; The following are not used for RTM.

tRAS 0     ; No row restoration needed
tCMD 1      ; Commands are 1 address bus cycle
tBURST 4    ; length of data burst
tRCD 2 ; Row to column delay. 
tWP 4    ; Write pulse time. 8.2ns @ 400 MHz = 4 cycles (arbitrary) 
tRP 1    ; Precharge is not needed. Writes occur only if needed 
         ; and take tWP time during a precharge (write-back)
         ; or immediately (write-through)
tCAS 1  
tAL 0
tCCD 1
; The next set of timings is mainly based on control circuits, and the times
; are taken from normal LPDDR2 datasheets.
tCWD 1   
tWTR 3   ; 7.5ns
;tWR 0    ; i.e., write-to-precharge, not needed here
tRTRS 1  ; for DDR-1, tRTRS can be 0
tRTP 1   ; No precharge, but still need to wait for data to leave internal
         ; FIFO buffers
tOST 0   ; No ODT circuitry in LPDDR
; These are mostly unknown at this point, but will likely
; be similar as they are meant to preserve power integrity
tRRDR 4 
tRRDW 4
RAW 4
tRAW 4
; Powerdown entry and exit timings
tRDPDEN 5   ; Wait for read to complete - tCAS + tBURST
tWRPDEN 6    ; Wait for write to complete ... tAL + tCWD + tBURST + tWP 
tWRAPDEN 6   ; No precharge, so same as tWRPDEN
tPD 1         ; Time from powerdown command to actually in powerdown mode
tXP 3         ; Time to power-up from power-down mode - 7.5ns
tXPDLL 200000 ; No DLL in LPDDR, will be used for deep power-down (tDPD) - 500us

; Refresh timings - not used, but we will assign valid numbers anyway.
tRFC 100
tREFW 42666667

;********************************************************************************
; Memory device energy and power parameters
 
EnergyModel energy ;current

; Energy Parameters
; 
; Read/write/shift energy numbers are in nano Joules (nJ)
; NOTES:
;   Destiny energy is per word
;   Erd is the read energy from a single mat
;   Ewr is the write energy (SET or RESET, they are the same)
;   These values are the energys required to read a row into a row buffer.
;
;   All energy values are taken from Destiny
;
Erd 0.080096
Eopenrd 0.000126318
Ewr 0.108981
; Energy required for a single shift in the domain wall memory (racetrack memory)
; Esh 0.0195
Esh 0.0102399

; Subarray write energy per bit
Ewrpb =1.242

; Energy leaked in 1 sec (or just the wattage) in milli Joules 
Eleak 3120.202

Eopen 0
Eclosed 0
Epdpf 0
Epdps 0
Epda 0
Eref 0


; 
; DRAM style energy calculation. All values in mA, taken from datasheet.
;
Voltage 1.8

EIDD0 85 
EIDD1 85
EIDD2P0 20 
EIDD2P1 42
EIDD2N 55
EIDD2NT 55
EIDD3P 68
EIDD3N 67
EIDD4R 207
EIDD4W 185
EIDD5B 230
EIDD6 22
